*{
  box-sizing: border-box;
}

body{
  font-family: 'Quicksand', 'Noto Sans TC', 'PingFang TC', 'Microsoft JhengHei';
  font-size: 14px;
  letter-spacing: 1px;
  margin: 0;
}

.cover{
  background: url(./inc/w2-cover.jpg) left top /cover no-repeat;
  background-attachment: scroll;
}

.cover .container{
  padding: 200px 0px 300px 0px;
}

.cover .word {
  text-align: center;
}

h1{
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 1px;
  font-size: 48px;
}

h2{
  font-weight: 300;
  font-size: 36px;
}

main{
  padding-top: 30px;
}

.section{
  width: 100%;
  max-width: 1000px;
  margin: auto;
}

h3{
  font-size: 28px;
  letter-spacing: 2px;
  text-align: center;
  color: #006737;
}

.product-group{
  width: 100%;
  max-width: 1000px;
  margin: auto;
}

.product{
  display: inline-block;
  max-width: 300px;
  margin: 10px;
}

.product-pic{
  width: 300px;
  height: auto;
  max-height: 300px;
  overflow: hidden;
}

.product-name{
  padding-top: 20px;
  font-size: 18px;
  text-align: center;
  font-weight: 600;
  text-transform: uppercase;
  display: block;
}

.price{
  padding-top: 5px;
  font-size: 18px;
  text-align: center;
  display: block;
}
