body {
  font-family:  -apple-system, Microsoft Jhenghei, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
  margin: 0;
  background-color: #fafafa
}

nav{
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 30px;
  background-color: #ffffff;
  font-size: 1.2rem;
  border: none;
  box-shadow: 0 0 10px 0 rgba(0,0,0,.15);
}

.user{
  color: #8b48a0;
  font-weight: 100;
  letter-spacing: 2px;
}

h1{
  text-align: center;
  margin-top: 20px;
  margin-bottom: 30px;
  font-size: 1.5rem;
}

.calendar{
  background-color: #ffffff;
  max-width: 700px;
  margin:30px auto;
}

.week{
  background-color: slategrey;
}

.day{
  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: 800;
  float: left;
  width: 14.2857142857%;
  padding: 10px 0 10px 0;
  text-align: center;
  background: slategray;
  color: #ffffff;
  
}

table{
  border-spacing: 0px;
}

.td{
  width: 100px;
  height: 50px;
  font-size: 0.8rem;
  text-align: center;
  letter-spacing: 1px;
  
}

.td:hover{
  background-color: #f2f2f2;
}

.line{
  border-top: 1px solid rgba(0, 0, 0, 0.15);
}

.event{
  padding: 30px;
}

.date{
  padding: 10px;
  width: 20px;
  height: 20px;
  background: #8b48a0;
  border-radius: 50%;
  color: #ffffff;
  justify-content: center;
  display: inline-flex;
}

.festival{
  margin-left: 5px;
}

a{
  text-decoration: none;
  color: #000000;
  cursor: pointer;
}

a:hover {
  color: #8b48a0
}