body {
    font-family: -apple-system, Microsoft Jhenghei, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

.calendar{
    width: 700px;
    height: 300px;
    table-layout: fixed;
}

.calendar td{
    padding: 10px;
}

.week{
    font-size: 0.8rem;
    align-items: center;
    text-align: center;
}


.holiday{
    background-color: #f2f2f2;
}